body {
  font: 1em Arial;
}
.container {
  background: #999;
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  width: 300px;
  height: 100px;
  background: #888;
}

.container1 {
  background: #999;
  display: block;
  width: 300px;
  height: 100px;
  margin: 20px auto;
  padding: 10px;
}
.container2 {
  background: #999;
  display: block;
  height: 100px;
  min-width: 350px;
  max-width: 500px;
  margin: 20px;
}
.container3 {
  background: #999;
  display: block;
  height: 200px;
  position: relative;
  margin: 20px;
}
.container-inner {
  background: #ccc;
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.container-inner2 {
  background: #ccc;
  margin: 10px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.container5 {
  background: #999;
  height: 200px;
  width: 200px;
  overflow: auto;
}
.container6 {
    background: #999;
    height: 200px;
    width: 200px;
    display: none;
  }
