* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(228, 228, 228);
}

/* TOP */

.main_conteiner {
    max-width: 1440px;
    height: 3933.16px;
    margin: auto;
    padding: 45.62px 150px 0 150px;
    background-color: white;
}

.wrapper_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    margin-bottom: 88.5px;
}

.nav_item {
    display: inline-flex;
    list-style-type: none;
    margin-right: 40px;
}

.nav_link {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    color: #4F5665;
}

.btn {
    background-color: white;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.up {
    margin-left: 30px;
    border: 1px solid #F53855;
    color: #F53855;
    border-radius: 50px;
    width: 150px;
    height: 45px;
    transition: 0.4s;
}

.up:hover {
    background-color: #F53855;
    color: white;
}

.in:hover {
    text-decoration: underline;
}

.nav_link:hover {
    text-decoration: underline;
    color: #4F5665;
}

/* MID */

.wrapper_mid {
    display: flex;
    margin-bottom: 102.5px;
}

.hero_cont {
    margin-top: 27px;
}

h1 {
    line-height: 70px;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #0B132A;
}

.hero_name {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #0B132A;
}

.hero_cont > p {
    margin-top: 19.77px;
    margin-bottom: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.btn_start {
    width: 250px;
    height: 60px;
    background-color: #F53838;
    color: white;
    border: 1px solid #F53838;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

.illustration {
    position: relative;
    left: 60px;
}

.btn_start:hover {
    box-shadow: 0px 15px 0px 0px #F5383859;
}

/* FOOTER */

.wrapper_foot {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 95px;
    max-width: 100%;
    min-height: 200px;
    box-shadow: 5px 5px 5px 5px rgba(255, 136, 136, 0.2);
}

.users {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.locations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}

.servers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.text_cont > p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

.text_cont > h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.icon_foot {
    margin-right: 35px;
}

.vector_foot {
    position: relative;
    float: right;
}

/* MAIN CONTENT */

.wrapper_info {
    display: flex;
    padding-bottom: 126.73px;
    border-bottom: 1px solid black;
}

.illustration_second {
    position: relative;
    left: 34.5px;
    margin-right: 169.5px;
}

.info {
    margin-top: 54.55px;
}

.info_item {
    list-style-type: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.info > h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.info > p {
    margin: 20px 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.info_item::before {
    content: url(./image/Group.png);
}

/* CHOOSE CONTAINER */

.wrapper_choose {
    margin-top: 80.27px;
    margin-bottom: 150px;
}

.plan_title {
    text-align: center;
    margin-bottom: 60px;
}

.plan_title > h2 {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.plan_title > p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.choose_cont {
    display: flex;
    position: relative;
    padding: 0 25px;
    justify-content: space-between;
}

.plan {
    width: 330px;
    height: 760px;
    padding-top: 79.63px;
    text-align: center;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.free_plan_title,
.standard_plan_title,
.premium_plan_title {
    margin: 30px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.item {
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}

.choose_free, 
.choose_standard,
.choose_premium {
    width: 330px;
    position: absolute;
    align-items: center;
    bottom: 50px;    
}

.choose_free > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.btn_select {
    margin-top: 20px;
    width: 177.88px;
    height: 45px;
    border: none;
    background-color: white;
    border: 2px solid #F53838;
    border-radius: 50px;
}

.select_link {
    text-decoration: none;
    color: #F53838;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.item::before {
    content: url(./image/jam_check.png);
}

.global_cont {
    text-align: center;
    margin-bottom: 155.81px;
}

.global_title {
    margin-bottom: 20px;
}

.global_title > h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.global_cont > p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.map_cont {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 35.81px;
}

.users_cont {
    display: flex;
    align-items: center;
    width: 1135px;
    height: 208px;
}

.users_cont > img {
    width: 20%;
}

.sub_cont {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 58.5px 70px;
    box-shadow: 1px 1px 3px 3px rgb(202, 202, 202) ;
    background-color: white;
    border-radius: 10px;
}

.sub_title {
    margin-bottom: 20px;
}

.sub_title >h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
}

.sub_text > p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.btn_sub {
    width: 250px;
    height: 60px;
    border: 0;
    background: #F53838;
    border-radius: 10px;
}

.sub_link {
    text-decoration: none;
    color: white;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}

/* FOOTER */

footer {
    display: flex;
    max-width: 1440px;
    margin: auto;
    padding: 200px 150px 100px 150px;
    background: #F8F8F8;
}

.footer_cont {
    display: flex;
    max-width: 1440px;
}

.product_item,
.engage_item,
.earn_item {
    padding-bottom: 10px;
    list-style-type: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.product_link,
.engage_link,
.earn_link {
    text-decoration: none;
    color: #4F5665;
}

.product_cont > h4,
.engage_cont > h4,
.earn_cont > h4 {
    margin-bottom: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.social_cont > img {
    margin-bottom: 20px;
}

.social_cont {
    margin-right: 230px;
}

.social_text,
.social_img {
    margin-bottom: 30px;
}

.engage_cont {
    margin: 0 125px 0 125px;
}


