body {
    margin: 0%;
}

.flex_align {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid goldenrod;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.flex {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 100px;
    text-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
    box-sizing: border-box;
    width: 33.3333333%;
}

.flex1 {
    background:#1abc9c ;
}

.blue {
    background:#3498db ;
}

.purple {
    background: #9b59b6;
}

.flex4 {
    background: #34495e;
}

.yellow {
    background: #f1c40f;
}

.orange {
    background: #e67e22;
}

.red {
    background: #e74c3c;
}

.gray {
    background: #bdc3c7;
}

.light_green {
    background: #2ecc71;
}

.green {
    background: #16a085;
}

