.container {
    background: #1F2E35;
}

.d-flex {
 color: #FFFFFF;
}
.register_email {
    border: solid 1px ;
}
.d-flex  {
    justify-content: center;
    
}

.container element {
    background-color: #EEDDFF;
  border: 6px solid #7922CC;
  border-radius: 25px;
}

