h1{
	font-size: 35px;
	font-weight: bold;
	color: rgb(212, 19, 116);
	text-align: center;
	background-color: aquamarine;
}


.content{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0 0;
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	color: white;
	font-size: 100px;
	text-align: center;
}
.color1 {
	background-color: rgb(29, 131, 97);
	width: 127px;
	height: 120px;
	order: 2;
}
.color2 {
	background-color: rgb(25, 172, 216);
	width: 127px;
	height: 120px;
	order: 2;
}
.color3 {
	background-color: rgb(114, 7, 163);
	width: 127px;
	height: 120px;
	order: 3;
}
.color4 {
	background-color: rgb(7, 47, 73);
	width: 127px;
	height: 120px;
	order: 2;
}
.color5 {
	background-color: rgb(182, 182, 13);
	width: 127px;
	height: 120px;
}
.color6 {
	background-color: orange;
	width: 127px;
	height: 120px;
	order: 2;
}
.color7 {
	background-color: rgb(189, 8, 8);
	width: 127px;
	height: 120px;
	order: 3;
}
.color8 {
	background-color: grey;
	width: 127px;
	height: 120px;
	order: 2;
}
.color9 {
	background-color: rgb(38, 168, 92);
	width: 127px;
	height: 120px;
}
.color10 {
	background-color: rgb(6, 104, 87);
	width: 127px;
	height: 120px;
	order: 2;
}