@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  width: 100%;
}

._container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

span {
  font-weight: 700;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 75px;
  height: 60px;
  background: #f53838;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(25 / 16 * 100%);
  transition: all 0.5s;
  box-shadow: 0px 15px 30px -15px #f53838;
}

@media (min-width: 960px) {
  .btn:hover {
    color: #0b132a;
  }
}

.text {
  color: #4f5665;
  font-weight: 400;
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .text {
    font-size: 12px;
  }
}

.header__content {
  padding: 45px 0px 85px 0px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .header__content {
    flex-direction: column;
    padding: 10px 0 20px 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 160px 0 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .logo {
    display: inline-flex;
    padding: 0 0 0 0;
  }
}

.logo__img {
  width: 35px;
  height: 37px;
  padding: 0 10px 0 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .logo__img {
    width: 25px;
    height: 27px;
  }
}

.logo__text {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20 * 100%);
  color: #0b132a;
}

@media (min-width: 320px) and (max-width: 430px) {
  .logo__text {
    font-size: 16px;
  }
}

.nav__menu {
  width: 452px;
  padding: 0 145px 0 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .nav__menu {
    width: 90%;
    padding: 10px 0 10px 0;
  }
}

.nav_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.sign_up__menu {
  display: flex;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 430px) {
  .sign_up__menu {
    display: flex;
    align-items: center;
  }
}
.sign_in__item {
  flex: 0 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: #0b132a;
  padding: 0 30px 0 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .sign_in__item {
    font-size: 12px;
  }
}

.sign_up__btn {
  display: inline-flex;
  align-items: center;
  padding: 0 45px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #f53855;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: #f53855;
  white-space: nowrap;
  transition: all 0.6s;
}

@media (min-width: 320px) and (max-width: 430px) {
  .sign_up__btn {
    height: 30px;
    font-size: 12px;
    padding: 0 30px;
  }
}

@media (min-width: 960px) {
  .sign_up__btn:hover {
    background-color: #f53855;
    color: #ffffff;
  }
}

.title {
  padding: 0 0 80px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .title {
    padding: 0 0 40px 0;
  }
}

.title__text__main {
  font-weight: 500;
  font-size: 50px;
  line-height: calc(70 / 50 * 100%);
  color: #0b132a;
  padding: 0 0 20px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .title__text__main {
    text-align: center;
    font-size: 25px;
    padding: 0 0 10px 0;
  }
}

.title__text__other {
  line-height: calc(30 / 16 * 100%);
  padding: 0 0 50px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .title__text__other {
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 0 0 25px 0;
  }
}

.title__text__other span {
  font-weight: 500;
}

.title__img {
  flex: 0 0 600px;
  margin-right: -60px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .title__img {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  .title__text {
    display: inline-flex;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  .title__btn {
    display: inline-flex;
    justify-content: center;
    text-align: center;
  }
}

.statistics__container {
  justify-content: center;
  padding: 35px 0px;
  box-shadow: 0px 10px 60px -50px #0d1025;
}

.users__statistic {
  display: flex;
  padding: 30px 130px 30px 90px;
  border-right: 2px solid #eeeff2;
}

.locations__statistic {
  display: flex;
  padding: 30px 135px 30px 110px;
  border-right: 2px solid #eeeff2;
}

.servers__statistics {
  display: flex;
  padding: 30px 90px 30px 90px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .users__statistic {
    padding: 10px 3% 10px 3%;
  }

  .locations__statistic {
    padding: 10px 3% 10px 3%;
  }

  .servers__statistics {
    padding: 10px 3% 10px 3%;
  }
}

.statistics__text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(30 / 20 * 100%);
}

.statistic__number {
  font-size: 25px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .statistics__text {
    font-size: 14px;
  }

  .statistic__number {
    font-size: 15px;
  }
}

.statistics__image {
  padding: 0 35px 0 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .statistics__image {
    padding: 0 10px 0 0;
    display: inline-flex;
    align-items: center;
  }

  .statistics__image img {
    width: 25px;
    height: 25px;
  }
}

.features__container {
  padding: 90px 0 120px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .features__container {
    padding: 30px 0 30px 0;
    text-align: center;
  }
}

.features__img {
  padding: 0px 30px 0px 30px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .features__img {
    display: none;
  }
}

.features__list {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 0px 0px 140px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .features__list {
    padding: 20px 0px 0px 0px;
  }
}

.features__list__title {
  margin: 0 auto;
  font-weight: 500;
  font-size: 35px;
  line-height: calc(50 / 35 * 100%);
  padding: 0 0 20px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .features__list__title {
    font-size: 20px;
    padding: 0 0 10px 0;
    max-width: 300px;
  }
}

.features__list__text {
  line-height: calc(30 / 16 * 100%);
  padding: 0 0 20px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .features__list__text {
    padding: 0 0 10px 0;
  }
}

.features__list_item {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(30 / 14 * 100%);
  color: #4f5665;
  padding: 0;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .features__list_item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    font-size: 10px;
  }
}

.features__list_item li {
  display: flex;
  align-items: center;
  padding: 0 0 15px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .features__list_item li {
    padding: 0 0 10px 0;
  }
}

.features__list_item li img {
  padding: 0 15px 0 0;
  width: 24px;
  height: 24px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .features__list_item li img {
    width: 16px;
    height: 16px;
  }
}

.plan {
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
}

.plan__container {
  flex-direction: column;
  padding: 80px 25px 30px 25px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .plan__container {
    padding: 40px 10px 15px 10px;
  }
}

.plan__header {
  text-align: center;
  padding: 0 0 60px 0;
}

.plan__header__title {
  margin: 0;
  padding: 0 0 20px 0;
}

.plan__header__text {
  line-height: calc(30 / 16 * 100%);
}

@media (min-width: 320px) and (max-width: 430px) {
  .plan__header {
    padding: 0 0 20px 0;
  }
  .plan__header__title {
    padding: 0 0 10px 0;
  }
}

.plan__select_windows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 150px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .plan__select_windows {
    padding: 0 0 30px 0;
  }
}

.select_window {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.5% 6.5% 4% 6.5%;
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  width: 30%;
}

.select_window__image img {
  width: 150px;
  height: 165px;
  padding: 0 0 30px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .select_window__image img {
    display: none;
  }
}

.select_window__title {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(30 / 18 * 100%);
  padding: 0 0 30px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .select_window__title {
    font-size: 14px;
    padding: 0 0 10px 0;
    text-align: center;
    width: 62px;
  }
}

.first__select {
  padding: 0 0 120px 0;
}

.second__select {
  padding: 0 0 80px 0;
}

.third__select {
  padding: 0 0 40px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .first__select {
    padding: 0 0 90px 0;
  }

  .second__select {
    padding: 0 0 55px 0;
  }

  .third__select {
    padding: 0 0 20px 0;
  }
}

.select_window__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.select_window__list li {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(30 / 14 * 100%);
  color: #4f5665;
  padding: 0 0 10px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .select_window__list li {
    font-size: 10px;
    line-height: 150%;
    padding: 0 0 5px 0;
  }
}

.select_window__list li img {
  width: 24px;
  height: 24px;
  padding: 0 15px 0 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .select_window__list li img {
    width: 16px;
    height: 16px;
    padding: 0 10px 0 0;
  }
}

.select_window__button__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select_window__button__title {
  padding: 0 0 20px 0;
  font-weight: 500;
  font-size: 25px;
  line-height: calc(30 / 25 * 100%);
  color: #0b132a;
}

.select_window__button__title span {
  color: #4f5665;
  font-weight: 400;
}

@media (min-width: 320px) and (max-width: 430px) {
  .select_window__button__title {
    padding: 0 0 10px 0;
    font-size: 15px;
  }
}

.select_window__button {
  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: #f53838;
  background-color: #ffffff;
  padding: 10px 60px;
  transition: all 0.5s;
}

@media (min-width: 320px) and (max-width: 430px) {
  .select_window__button {
    border: 1px solid #f53838;
    font-size: 12px;
    padding: 5px 20px;
  }
}

@media (min-width: 960px) {
  .select_window__button:hover {
    color: #ffffff;
    background-color: #f53838;
    box-shadow: 0px 15px 30px -15px #f53838;
  }
}

.plan__map__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0 150px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .plan__map__header {
    padding: 0 0 20px 0;
  }
}

.map__header__title {
  font-weight: 500;
  font-size: 35px;
  line-height: calc(50 / 35 * 100%);
  color: #0b132a;
  margin: 0;
  padding: 0 0 20px 0;
  max-width: 380px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .map__header__title {
    font-size: 20px;
    padding: 0 0 5px 0;
  }
}

.map__header__text {
  line-height: 187%;
  max-width: 550px;
}

.map__header__text span {
  font-weight: 500;
}

.plan__map img {
  width: 95%;
}

.sponsored__container {
  padding: 0 0 40px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .sponsored__container {
    padding: 0;
  }
}

.sponsored__container img {
  width: 95%;
}

.customers__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 0 60px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .customers__container {
    padding: 0;
  }
}

.customers__header {
  padding: 0 0 60px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .customers__header {
    padding: 0 0 20px 0;
  }
}

.customers__header__title {
  display: inline-flex;
  max-width: 445px;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
  margin: 0;
  padding: 0 0 20px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .customers__header__title {
    font-size: 20px;
    max-width: 300px;
  }
}

.customers__header__text {
  max-width: 550px;
  line-height: 187%;
}

.customer__windows {
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding: 0 0 60px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .customer__windows {
    flex-direction: column;
    align-items: center;
    height: 260px;
    overflow: auto;
    padding: 10px 0 0 0;
    border: 1px solid #f53838;
  }
}

.customer__window {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 10px;
  width: 30%;
  padding: 20px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .customer__window {
    width: 95%;
    margin-bottom: 15px;
  }
}

.customer__window__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .customer__window__header {
    padding: 0 0 10px 0;
  }
}

.customer__window__header__name {
  display: flex;
  align-items: center;
}

.window__header__img {
  padding: 0 20px 0 0;
}

.window__header__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.window__header__title__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #0b132a;
}

.window__header__title__location {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #4f5665;
}

@media (min-width: 320px) and (max-width: 430px) {
  .window__header__title__name {
    font-size: 14px;
  }

  .window__header__title__location {
    font-size: 12px;
  }
}

.window__header__rating {
  display: flex;
}

.window__header__rating__img img {
  width: 16px;
  height: 16px;
}

.customer__window__text {
  text-align: start;
  line-height: 187%;
  color: #0b132a;
}

@media (min-width: 320px) and (max-width: 430px) {
  .customer__window__text {
    font-size: 14px;
  }
}

.customers__slider {
  display: flex;
  width: 95%;
  justify-content: flex-end;
}

.slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f53838;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url(../Homework_7/images/pointer__red.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
}

@media (min-width: 960px) {
  .slider__btn:hover {
    background-image: url(../Homework_7/images/pointer__white.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f53838;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  .slider__btn {
    display: none;
  }
}

.customers__slider__btn__back {
  transform: rotate(180deg);
}

.button__back__box {
  padding: 0 20px 0 0;
}

.subscribe__container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 55px 0px;
  box-shadow: 0px 10px 60px -50px #0d1025;
  position: relative;
  top: 119px;
  background-color: #ffffff;
}

@media (min-width: 320px) and (max-width: 430px) {
  .subscribe__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 30px 0;
    margin: 0;
    top: 50px;
  }
}

.subsribe__info {
  padding: 0 0 0 70px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .subsribe__info {
    padding: 0;
    text-align: center;
  }
}

.subsribe__btn {
  padding: 0 70px 0 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .subsribe__btn {
    padding: 0;
  }
}

.subscribe__info__title {
  margin: 0;
  font-weight: 500;
  font-size: 35px;
  line-height: calc(45 / 35 * 100%);
  color: #0b132a;
  max-width: 370px;
  padding: 0 0 20px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .subscribe__info__title {
    max-width: 210px;
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  .subsribe__info__text {
    padding: 0 0 15px 0;
  }
}

.footer {
  background: #f8f8f8;
}

.footer__container {
  padding: 180px 0 100px 0;
  display: flex;
  align-items: inherit;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 430px) {
  .footer__container {
    padding: 70px 0 30px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.general__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 320px) and (max-width: 430px) {
  .general__link {
    order: 1;
    padding: 30px 0 0 0;
  }
}

.general__link__logo {
  display: flex;
  align-items: center;
  padding: 0 0 20px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .general__link__logo {
    margin: 0 auto;
    padding: 0 0 10px 0;
  }
}

.general__link__text {
  max-width: 340px;
  line-height: 187%;
  padding: 0 0 30px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .general__link__text {
    max-width: 280px;
    padding: 0 0 10px 0;
    text-align: center;
  }
}

.general__link__text span {
  font-weight: 500;
}

.general__link__social {
  padding: 0 0 30px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .general__link__social {
    margin: 0 auto;
    padding: 0 0 5px 0;
  }
}

.link__img {
  border-radius: 50%;
  margin-right: 20px;
}

.general__link__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #afb5c0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .general__link__copyright {
    margin: 0 auto;
    font-size: 10px;
  }
}

.general__link__copyright span {
  font-weight: 500;
}

.other__link {
  display: flex;
}

.other__link__common {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 0 0 120px;
}

@media (min-width: 320px) and (max-width: 430px) {
  .other__link {
    width: 90%;
    justify-content: space-between;
  }

  .other__link__common {
    padding: 0;
  }
}

.other__link__common__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: #0b132a;
  padding: 0 0 20px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .other__link__common__title {
    font-size: 14px;
  }
}

.other__link__common__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.other__link__common__list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  padding: 0 0 10px 0;
}

@media (min-width: 320px) and (max-width: 430px) {
  .other__link__common__list li {
    font-size: 12px;
  }
}
