/* task_1  */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: #333;
  background-color: #f3f3f3;
}
a {
  color: #cb2c2c;
  text-decoration: none;
}
h1,
li {
  color: green;
}
h2.list {
  color: green;
}
#main {
  color: green;
}
* {
  border: 1px solid black;
}
ul * {
  border: 1px solid black;
}
.list li {
  border-bottom: 1px dashed #666;
}
.list > li {
  border-bottom: 1px;
}
h4 + li {
  color: red;
}
h4 ~ li {
  color: red;
}
:link {
  border-bottom: 1px dashed #444;
}
:visited {
  border: dashed;
}
a:hover {
  background-color: #444;
}
a:active {
  background-color: #cb2c2c;
}
li:nth-child(2n) {
  color: #cb2c2c;
}
li:nth-last-child(3) {
  color: #cb2c2c;
}
li:first-child {
  color: #cb2c2c;
}
h2::before {
  content: "Text";
  font-size: 5px;
}
h2::after {
  content: "Text";
  font-size: 5px;
}
a[title] {
  color: aqua;
}
a[title="my-title"] {
  color: aqua;
}
a[title~="my-title"] {
  color: aqua;
}
a[href*=".jpg"] {
  color: aqua;
}
a[href$=".jpg"]::after {
  content: "(png)";
}

/* task_2  */
body {
  font: 1em Arial;
}

.container {
  background-color: #999;
  display: block;
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  width: 500px;
  height: 100px;
  background-color: #888;
  display: block;
}

.container-inner {
  background-color: #ccc;
  margin: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
