h1{
	font-size: 35px;
	font-weight: bold;
	color: rgb(212, 19, 116);
	text-align: center;
	background-color: aquamarine;
}
p{
	font-size: 25px;
	font-weight: bold;
	color: rgb(15, 27, 185);
	text-align: center;
}