.border_0 {
position: relative;
width: 1440px;
height: 5189px;
background: #FFFFFF;
}

.link_wrapper {
width: 100%;
height: 30px;
display: flex;
}

/* .sus_admin {
    position: absolute;
    width: 100%;
    height: 30px;
} */
.menu {
    position: absolute;
    width: 100%;
    height: 30px;
    display: flex;
    font-size:16px;
}

.border_1 {
width: 555px;
/* height: ; */
}

.text_1 {
    position: absolute;
    /* width: 555px;
    height: 140px;
    left: 157px;
    top: 201px;
     */
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
} 
.text_2 _{
    position: absolute;
width: 555px;
height: 60px;
left: 150px;
top: 366.77px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
color: #4F5665;
}
.img_figma {
    position: absolute;
width: 611.24px;
height: 382.44px;
left: 745.76px;
top: 179.11px;
}