*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    font-family: Verdana, Tahoma, sans-serif;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

/* SIDEBAR CONTENT */

aside.sidebar {
    padding: 40px 15px;
    background: rgb(61, 101, 139);
    color: white;
    border-radius: 10px;
}

.my_photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.name {
    margin: 15px 0 35px 0;
    text-align: center;
}

.name > h3 {
    font-size: 22px;
}

.title {
    margin-bottom: 7px;
    margin-top: 35px;
    font-size: 18px;
}

li {
    list-style-type: none;
    font-size: 18px;
    line-height: 27px;
}

.contact_link {
    color: white;
    text-decoration: none;
    line-height: 27px;
    font-size: 16px;
}

.contact_link:hover {
    text-decoration: underline;
}

/* MAIN CONTENT */

.about_me_cont {
    padding: 40px 20px;
}

.objectives_cont,
.educations_cont,
.work_exp_cont,
.courses_cont,
.practice_cont {
    padding-bottom: 15px;
    margin-bottom: 35px;
}

.objectives_cont > p {
    font-size: 18px;
    text-align: justify;
}

.objectives_cont_title,
.educations_cont_title,
.work_exp_title,
.courses_cont_title,
.practice_cont_title {
    text-align: center;
    margin-bottom: 35px;
    font-size: 20px;
}

.degree_cont {
    margin-bottom: 25px;
}

.master {
    margin-bottom: 0;
}

.degree_cont > p,
.it_cont > p,
.work > p,
.eng_cont > p {
    font-size: 14px;
    color: rgb(148, 148, 148);
}

h4 {
    font-size: 18px;
    margin-bottom: 7px;
}

h5 {
    font-size: 16px;
    margin-bottom: 5px;
}

.eng_cont {
    margin-bottom: 25px;
}

.btn {
    margin: 0 auto;
    background-color: white;
    border: 2px solid rgb(61, 101, 139);
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    color: rgb(61, 101, 139);
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(61, 101, 139);
    color: white;
    border-radius: 50%;
}

a:visited {
    border: none;
}