body {
font-family: Arial, Helvetica, sans-serif;
margin: 40px;
background-color: cornsilk;
}

.container {
    background: rgb(17, 128, 202);
    display: block;
    width: 400px;
    height: 150px;
    margin: auto;
    padding: 20px;
      }

.container-inner {
    background: rgb(13, 170, 170);
    margin: 20px;
    bottom: 0px;
    top: 20px;
    right:20px;
    z-index: 1;
    }

    a {
      display: block;
      width: 40px;
      height: 20px;
     }

  .im {
    display: block;
     margin: 20px;
      }
