body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 14px;
color: black;
background: khaki;
} 
a {
    color: #2c51cb;
    text-decoration: none;
}
li {
    color: blue;
}
.table-sec{
    border: 1px solid black;
    }
a:hover {
    border: 1px solid grey;
}
h2::before {
    content: "Глава: ";
    font-size: 15px;
}