* {
  margin: 0;
}

body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/leather_1.png");
  font: 1em sans-serif;
  text-transform: uppercase;
}
ul {
  list-style: none;
}

.wrapper {
  max-width: 1024px;
  margin: 15px auto;
  padding: 30px;
  transition: all 0.7s ease-in-out;
}

nav {
  position: absolute;
  z-index: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 55px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.nav:hover {
  opacity: 1;
}

.nav li {
  width: 55px;
  height: 55px;
  overflow: hidden;
  transition: all 0.3s ease-in-out, height 0.3s ease-in-out 0.2s;
}

.nav li:first-child {
  border-radius: 5px 5px 0 0;
}

.nav li:last-child {
  border-radius: 0 0 5px 5px;
}

.nav li:hover {
  width: 200px;
  height: 190px;
}

.nav li a {
  display: flex;
  width: 200px;
  height: 45px;
  align-items: center;
  text-decoration: none;
  background: #bbb;
  color: #fff;
  padding-left: 12px;
  box-sizing: border-box;
  transition: background 0.5s ease-in-out;
}

.nav li a:hover {
  background: rgb(57, 60, 94);
}

.nav li a:first-child {
  font-size: 1.1em;
  height: 55px;
}

.nav li.main-menu a:first-child::before {
  content: url(./images/home.svg);
  padding-right: 15px;
  width: 30px;
  height: 30px;
  fill: #ff0;
}

.nav li.settings a:first-child::before {
  content: url(./images/settings.svg);
  padding-right: 15px;
  width: 30px;
  height: 30px;
}

.nav li.link a:first-child::before {
  content: url(./images/link.svg);
  padding-right: 15px;
  width: 30px;
  height: 30px;
}

.nav li.contacts a:first-child::before {
  content: url(./images/contacts.svg);
  padding-right: 15px;
  width: 30px;
  height: 30px;
}

.baner {
  width: 100%;
  height: 355px;
  position: relative;
  background: url(http://lorempixel.com/1024/355) center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.baner::after {
  content: "";
  display: block;
  width: 100%;
  height: 355px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.baner:hover::after {
  opacity: 0;
}

.bgline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  margin: 45px 0;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  /* background: repeating-linear-gradient(-45deg, red, red 5px, blue 5px, blue 10px); */
  background: radial-gradient(#000, transparent);
}

.bgline:hover {
  background: repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.3) 2px,
      rgba(0, 0, 0, 0.3) 4px,
      #000 4px,
      #000 6px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.3) 1px,
      rgba(0, 0, 0, 0.3) 4px,
      #000 1px,
      #000 6px
    );
}

.animation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.square {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.square:hover {
  animation-play-state: paused;
}

.a1 {
  background: rgb(57, 60, 94);
  animation: spin 2s linear 0s infinite;
}

.a2 {
  background: rgb(61, 121, 155);
  animation: spin 2s linear 0s infinite reverse;
}

.a3 {
  background: rgb(61, 155, 85);
  animation: spin 2s linear 0s infinite alternate;
}

.a4 {
  background: rgb(215, 218, 89);
  animation: scale 1s linear 0s infinite alternate;
}

.a5 {
  background: rgb(218, 104, 89);
  animation: skew 1s linear 0s infinite alternate;
}

.a6 {
  background: rgb(177, 89, 218);
  animation: translate 1s linear 0s infinite alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes skew {
  0% {
    transform: skewy(45deg);
  }
  100% {
    transform: skewy(-45deg);
  }
}

@keyframes translate {
  0% {
    transform: translate(-40px);
  }
  100% {
    transform: translate(10px);
  }
}

.loading {
  width: 200px;
  height: 30px;
  border: 3px solid #00f;
  /* box-sizing: border-box; */
  border-radius: 15px;
  margin: 45px auto;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.progress-bar {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  width: 400px;
  height: 30px;
  background: repeating-linear-gradient(
    -45deg,
    #fff 0,
    #fff 5px,
    #00f 5px,
    #00f 10px
  );
  animation: slide 2.5s linear infinite;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}
