body {
    padding: 0px;
    margin: 0px;
    background: #fff;
}

/* fonts */
@font-face {
    font-family: Diablo;
    src: url(fonts/Diablo_RU.TTF);
}

@font-face {
    font-family: Kaligrafica;
    src: url(fonts/Kaligrafica.ttf);
}
/* fonts */

header {
    display: flex;
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.myphoto-box {
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    animation-name: shawow-glow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.myphoto-box img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    transition: 1s;
}

.myphoto-box img:hover {
    opacity: 0.9;
}

header p:nth-child(2) {
    position: absolute;
    margin: 0px;
    font-size: 40px;
    font-weight: 400;
    font-family: Diablo;
    text-shadow: 0px 2px 2px #000;
    color: #A59263;
    top: 30px;
    left: 200px;
}

header p:nth-child(3) {
    position: absolute;
    margin: 0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    font-weight: bold;
    text-shadow: 0px 2px 2px #777;
    top: 75px;
    left: 200px;
}

header a:nth-child(4) {
    position: absolute;
    margin: 0px;
    top: 140px;
    left: 200px;
    transition: 1s;
}

header a:nth-child(4):hover {
    transform: scale(1.3);
}

.works-img {
    animation-name: icon-flash;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

header a img:hover {
    animation-play-state:paused
}

header p:nth-child(5) {
   position: absolute;
   margin: 0px;
   font-family: Kaligrafica;
   font-size: 22px;
   font-weight: bold;
   text-shadow: 0px -2px 2px #000;
   color: #A59263;
   top: 145px; 
   left: 260px;
}

header img:nth-child(6) {
    height: 200px;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 200px;
    opacity: 0.3;
}

/* mobile block */
.header-mobile {
    display: none;
}

.myphoto-box-mobile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.myphoto-box-mobile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: 1s;
}

.myphoto-box-mobile img:hover {
    opacity: 0.9;
}

.header-mobile a:nth-child(5) {
    transition: 1s;
}

.header-mobile a:nth-child(5):hover {
    transform: scale(1.2);
}

.header-mobile a img:hover {
    animation-play-state:paused;
}
/* mobile block */

.nav-wrapper {
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 2px solid #A59263;
    border-bottom: 2px solid #A59263;
    margin-bottom: 5px;
    animation-name: manifestation;
    animation-duration: 3.5s;
}

nav {
    min-width: 680px;
    display: flex;
    background-color: #A59263;
    justify-content: space-evenly;
}

nav:hover {
    background-color: rgba(165,146, 99, 0.9);
}

.navbox {
    display: flex;
    color: #000;
    align-items: center;
}

.navbox p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-shadow: 0px 1px 1px #bbb;
    font-weight: bold;
    animation-name: navtext-glow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.navbox p a {
    text-decoration: none;
    color: inherit;
}

.menu {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu>* {
    margin: 0;
    padding: 0;
}

.menu ul {
    display: flex;
    height: 100%;
    list-style-type: none;
    padding-inline-start: 0px;
}

.mobile-menu {
    display: none;
}

.menu ul li:first-child {
    margin-left: auto;
    margin-right: 1px;
}

.menu ul li:last-child {
    margin-right: auto;
    margin-left: 1px;
}

.menu ul li:nth-child(2) {
    margin-right: 1px;
}

.menu ul li:nth-child(3) {
    margin-right: 0px;
}

.menu-button {
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 25px;
    border-radius: 3px;
    z-index: 1;
    overflow: hidden;
    transition: 1.5s;
}

.menu-button:hover {
    height: 145px;
    background: rgb(40, 187, 187);
    opacity: 0.98;
}

.menu-button ul {
    display: block;
    width: 100%;
    padding-inline-start: 0px;
    text-align: center;
}

.menu-button li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #000;
    border-top: 1px solid #000;
}

.menu-button li:first-child {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    border: 0px;
    transition: 0.5s;
    position: relative;
}

.menu-button li:first-child:hover {
    color: #fff;
}

.menu-button li:first-child::after {
    content: "̬ ";
    position: absolute;
    top: 1px;
    left: 90px;
    color: #ffd700;    
    font-size: 18px;
}

.menu-button li:last-child {
    border-bottom: 1px solid #000;
    position: relative;
}

.menu-button li:last-child::after {
    content: "•";
    position: absolute;
    top: 23px;
    left: 90px;
    color: #ffd700;    
    font-size: 18px;
}

.menu-button li a {
    text-decoration: none;
    color: #333;
    transition: 0.6s;
}

.menu-button li a:visited {
    color: #000;
}

.menu-button li a:hover {
    color: #ffd700;
}

main {
    display: flex;
    height: calc(100vh - 349px);
    background: linear-gradient(to right, rgb(158, 101, 101) 0%, rgb(108, 51, 51) 33.3%, rgb(0, 0, 0) 66.6%);
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}

article {
    display: flex;
    width: 500px;
    margin-left: auto;
    flex-direction: column;
}

aside {
    display: flex;
    width: 290px;
    margin-left: 50px;
    margin-right: auto;
    flex-direction: column;
}

.info-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.info-block2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.upper_block {
    display: flex;
}

.upper_block p {
    margin: 0px;
    margin-left: 5px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px 2px #000;
}

.textblock {
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #ddd;
}

.textblock p {
    margin: 5px 10px 5px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    text-shadow: 0px 1px 1px #333;
}

.footer-wrapper {
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 2px solid #A59263;
    border-bottom: 2px solid #A59263;
    animation-name: manifestation;
    animation-duration: 3.5s;
}

footer {
    width: 100%;
    min-height: 20px;
    background-color: #A59263;
    animation-name: manifestation;
    animation-duration: 3.5s;
}

footer:hover {
    background-color: rgba(165,146, 99, 0.9);
}

footer p {
    margin: 5px;
    font-size: 12px;
    font-family: Diablo;
    text-align: center;
    text-shadow: 0px 1px 1px #000;
    color: #555;
}

/* animations */
@keyframes icon-flash {
    0% {
    opacity: 1;
    }
    15% {
    opacity: 0.7;    
    }
    20% {
    opacity: 1;
    }
    35% {
    opacity: 0.7;
    }
    40% {
    opacity: 1;
    }
    100% {
    opacity: 1;
    }
}

@keyframes navtext-glow {
    0% {
    color: #000;
    }
    50% {
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    }
    100% {
    color: #000;
    }
}

@keyframes shawow-glow {
    0% {
    box-shadow: 0px 0px 10px 1px #000;
    }
    50% {
    box-shadow: 0px 0px 20px 1px #ffd700;
    }
    100% {
    box-shadow: 0px 0px 10px 1px #000;
    }
}

@keyframes manifestation {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
/* animations */

/* adaptation */
@media screen and (max-width:1020px) {
    main {
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }

    article {
        max-width: 500px;
        margin-left: auto;
        margin-right: 0px;
    }

    aside {
        max-width: 300px;
        margin-left: 50px;
        margin-right: auto;
    }
    
    .info-block {
        width: 100%;
    }

    .info-block2 {
        width: 100%;
    }

    .upper_block {
        width: 100%;
    }

    .textblock {
        width: 100%;
    }
}

@media screen and (max-width:749px) {
    body {
        background: #fff;
    }
    
    header * {
        display: none;
    }

    /* mobile block */
    .header-mobile {
        display: flex;
        height: 150px;
        position: relative;
        padding-left: 10px;
    }

    .myphoto-box-mobile {
        animation-name: shawow-glow;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .header-mobile p:nth-child(2) {
        position: absolute;
        margin: 0px;
        font-size: 25px;
        line-height: 40px;
        font-weight: 400;
        font-family: Diablo;
        text-shadow: 0px 2px 2px #000;
        color: #A59263;
        top: 10px;
        left: 168px;
    }

    .header-mobile p:nth-child(3) {
        position: absolute;
        margin: 0px;
        font-size: 25px;
        line-height: 40px;
        font-weight: 400;
        font-family: Diablo;
        text-shadow: 0px 1px 1px #000;
        color: #A59263;
        top: 30px;
        left: 168px;
    }

    .header-mobile p:nth-child(4) {
        position: absolute;
        margin: 0px;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: #000;
        text-shadow: 0px 2px 2px #777;
        top: 60px;
        left: 170px;
    } 

    .header-mobile a:nth-child(5) {
        position: absolute;
        margin: 0px;
        top: 110px;
        left: 155px;
    }

    .header-mobile p:nth-child(6) {
        position: absolute;
        margin: 0px;
        font-family: Kaligrafica;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0px -2px 2px #000;
        color: #A59263;
        top: 113px; 
        left: 200px;
     }

     .header-mobile img:nth-child(7) {
        height: 175px;
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 130px;
        opacity: 0.3;
    }
    /* mobile block */

   .nav-wrapper {
       margin-top: 15px;
   }
   
    nav {
        min-width: auto;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

     main {
        padding-left: 40px;
        padding-right: 40px;
        height: calc(100vh - 447px);
    }

    .upper_block p {
        font-size: 16px;
    }

    .textblock p {
        font-size: 14px;
    }

    .menu {
        width: 100%;
        height: 30px;
        z-index: 1;
        transition: 3s;
    }

    .menu:hover {
        height: auto;
    }

    .menu ul {
        width: 100%;
        flex-direction: column;
        overflow: hidden;
    } 

    .menu ul li:first-child {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .mobile-menu {
        display: block;
    }

    .menu-button li:last-child::after {
        content: none;
        height: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        color: #ffd700;    
        font-size: 18px;
    }
}

@media screen and (max-width:550px) {
    main {
        flex-direction: column;
        height: calc(100vh - 447px);
    }

    article {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        min-width: 100%;
    }

    aside {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        min-width: 100%;
    }
}
/* adaptation */