/* ALL CONYENT */

body {
    background-color: #1F2E35;
}

nav {
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #fff;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #fff;
}

h3 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.sub-text {
    margin: 0ex;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

/* HEADER  */

.logo-name {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}

.nav-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.btn-sign-in {
    width: 102px;
    height: 43px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border: 1px solid #BCD0E5;
}

.btn-sign-up {
    width: 110px;
    height: 43px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #02897A;
    color: #fff;
    border: 0;
}

.btn-sign-up:hover,
.btn-sign-in:hover {
    color: #fff;
}

/* MAIN CONTENT */
    /* PRICING */

.card-body {
    padding: 24px 0 32px 0;
}

.card-title {
    margin-bottom: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}

.card-subtitle { 
    margin-bottom: 12px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.card-body > svg {
    margin-bottom: 16px;
}

.list-unstyled > li {
    padding-bottom: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.list-unstyled {
    margin-bottom: 22px;
}

.btn-order {
    width: 139px;
    height: 44px;
    background-color: #02897A;
    border-radius: 8px;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    transition: 0.4s;
}

.btn-order:hover {
    border: 2px solid #02897A;
    color: #02897A;
    background-color: #fff;
}

.price-cont {
    margin-bottom: 150px;
}

    /* ENTERPRICE */

.enterprice-cont {
    margin-bottom: 150px;
    padding: 52px 0;
    background-color: #22343D;
}

.enterprise-title {
    margin-bottom: 16px;
}

.enterprise-subtitle {
    margin-bottom: 8px;
}

.enterprise-sub-text {
    margin-bottom: 32px;
}

.btn-touch {
    width: 224px;
    height: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border-radius: 8px;
    background-color: #02897A;
    color: #fff;
    transition: 0.4s;
}

.btn-touch:hover {
    background-color: #fff;
    color: #02897A;
}

    /* AREA OF USE */

.use-cont {
    margin-bottom: 150px;
}

.use-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
}

.use-wrapper {
    margin-bottom: 32px;
}

    /* QA */

.qa-cont {
    margin-bottom: 150px;
}

.qa-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
}

.accordion-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background-color: #1F2E35;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #1F2E35;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    background-color: #1F2E35;
    color: #fff;
}

.accordion-button::after {
    display: none;
}

.accordion-button::before {
    content: url("data:image/svg+xml; utf8, <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 5.376 5.376 0 12 0C18.624 0 24 5.376 24 12C24 18.624 18.624 24 12 24C5.376 24 0 18.624 0 12ZM13.2 13.2H18V10.8H13.2V6H10.8V10.8H6V13.2H10.8V18H13.2V13.2Z'/></svg>");
}

    /* USERS CONT */

.users-cont {
    margin: auto;
    margin-bottom: 167px;
    background-color: #02897A;
    border-radius: 32px;
}

.users-title {
    padding: 50px 0 60px 50px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #fff;
}

.btn-get {
    margin: 0 0 55px 50px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    border-radius: 8px;
    color: #22343D;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

/* FOOTER */

.footer {
    padding-bottom: 50px;
    font-family: 'Poppins';
    font-style: normal;
    color: #fff;
}

.social-cont {
    margin-top: 25px;
}

.footer-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
}

.footer-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.footer-form-title {
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.footer-textarea {
    width: 325px;
    height: 48px;
    border-radius: 10px;
    border: 0;
}

.btn-footer {
    width: 130px;
    height: 40px;
    margin-top: 21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background-color: #02897A;
    border-radius: 10px;
    border: 0;
}