body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.square {
    width: 60px;
    height: 60px;
    background: #333;
    margin: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    animation-name: spin;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.square:hover {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}